@import 'tailwindcss';

@layer base {
  /* 태그별 기본 스타일 적용 */
  button {
    @apply cursor-pointer rounded-2xl border p-2;
  }
  input {
    @apply rounded-2xl border p-2;
  }
  .link {
    @apply rounded-2xl border p-2 text-center;
  }
}

/* 자주 사용하는 색상 변수 선언 */
:root {
  --Blue-Scale-blue-100: #e6e7ff;
  --Blue-Scale-blue-500: #8287ff;

  --Grey-Scale-grey-00: #fff;
  --Grey-Scale-grey-50: #fafafa;
  --Grey-Scale-grey-100: #f0f0f0;
  --Grey-Scale-grey-200: #c6c6c6;
  --Grey-Scale-grey-300: #7d7d7d;
  --Grey-Scale-grey-400: #313131;
}

/* 스크롤바 없애기 클래스 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* 가로 흔들림 방지 */
html {
  scrollbar-gutter: stable;
}

@supports not (scrollbar-gutter: stable) {
  html {
    overflow-y: scroll;
  }
}
